# ===============================
# Maven / Java
# ===============================
target/
*.class
*.jar
*.war
*.ear

# ===============================
# Test Execution Artifacts
# ===============================
test-output/
reports/
logs/
screenshots/
allure-results/
allure-report/
.allure/

# ===============================
# IDE / Editor files
# ===============================
.classpath
.project
.settings/
.idea/
*.iml
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment / Config (optional)
# ===============================
*.env
